<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Тренировка</title>
    <link rel="shortcut icon" href="{% static "webPage2/Logo.png" %}" type="image/x-icon">
</head>
<body background={% static "webPage2/background.jpg" %}>
<h1><center><font size="8" color="white" face="Arial">Информация о нас</font></center></h1>
<p><font size="5" color="red" face="Arial">З</font><font color="#f0ffff">десь содержится исчерпывающая информация о нас.</font></p>
<a href="/"><_На главную_></a>
</body>
</html>