{% extends "Homepage/index.html" %}
{% block header %}
    <h1><center>Список контактов</center></h1>
{% endblock %}
{% block content1 %}
    <center>Незначительные новости</center>
{% endblock %}
{% block content2 %}
    <p>
        <ul>
            <li><b>Телефон</b> - 88005553535</li>
            <li><b>Электронная почта</b> - training@mail.ru</li>
        </ul>
    </p>
{% endblock %}
{% block content3 %}
    <center>Здесь будет ссылка на форум</center>
{% endblock %}
{% block footer %}
    <center>Footer</center>
{% endblock %}


