{% extends "Homepage/index.html" %}
{% block header %}
    <h1><center>История затрат</center></h1>
{% endblock %}
{% block content1 %}
    <center>Незначительные новости</center>
{% endblock %}
{% block content2 %}
    <p>
        Суммарная стоимость всех покупок составит - {{ total }}
{#        <ul>#}
{#            <li><b>Покупка:</b> {{ comments }} <b>Цена - </b> {{ add_money }} <b>BYN</b> </li>#}
{#        </ul>#}
    </p>
{% endblock %}
{% block content3 %}
    <center>Здесь будет ссылка на форум</center>
{% endblock %}
{% block footer %}
    <center>Footer</center>
{% endblock %}


