{% extends "Homepage/index.html" %}
{% block body %}
{% load static %}
<script src="{% static "/js/history_script.js" %}"></script>
    {#------------ЕСЛИ ДОХОДЫ------------------#}
    {% if income %}
        <h2>История доходов  <a href="history"><img alt="о" src="{% static 'Homepage/exchange.png' %}" style="height: 20px"></a></h2>
        <div class="sort">
        <a style="text-decoration: none" href="history?what=show_income">Все категории | </a>
        {% for source in sources %}
            <a style="text-decoration: none" href="sort_of_income?source={{ source }}">{{ source }} | </a>
        {% endfor %}
        </div>
    {#------------ЕСЛИ Расходы------------------#}
    {% else %}
        <h2>История расходов <a href="history?what=show_income"><img alt="о" src="{% static 'Homepage/exchange.png' %}" style="height: 20px"></a></h2>
        <div class="sort">
            <a style="text-decoration: none" href="history">Все категории | </a>
            {% for category in categories %}
                <a style="text-decoration: none" href="sort_of?category={{ category }}">{{ category }} | </a>
            {% endfor %}
        </div>
    {% endif %}
    {#------------Начало Таблицы------------------#}
    <table style="width: 60%">
        <tr>
            <th><u>Наименование товара/услуги</u></th>
            <th><u>Стоимость</u></th>
            <th><u>Категория</u></th>
            <th><u>Дата внесения</u></th>
            <th></th>
        </tr>
{#------------ЕСЛИ ДОХОДЫ------------------#}
            {% if income %}
                {% for product in products %}
                    <tr>
                        <td>
                            {{ product.comment|default:'<Комментарий не введен>'}}
                        </td>
                        <td><b style="color: #43b05c">{{ product.add_income }}</b> BYN
                        {% if edit_id != product.id %}
                            <a href="history?id={{ product.id }}"> <img alt="ред." src="{% static 'Homepage/edit.png' %}" style="height: 15px"> </a>
                            {% else %}
                            <a href="history"> <img alt="ред." src="{% static 'Homepage/edit.png' %}" style="height: 15px"> </a>
{#                            {% if edit_id == product.id %}#}
                                <div id="categories">
                                    <form action="edit_spending" method="post">
                                        <input type="hidden" name="id" value="{{ product.id }}">
                                        <input type="number" step="0.01" min="1" name="new_spending" id="new_spending" placeholder="" style="width: 50px; height: 20px;">
                                        <button type="submit" style="font-size: 15px;">ОК</button>
                                    </form>
                                </div>
                        {% endif %}
                        </td>

                        <td>({{ product.source }})</td>
                        <td>({{ product.time_input }})</td>
                        <td>
                            <a style="text-decoration: none; color: red " href="del_income?id={{ product.id }}"><img alt="удалить" src="{% static 'Homepage/remove.png' %}" style="height: 20px"></a>
                        </td>
                    </tr>
                {% endfor %}
                {% for product in sort_sources %}
                    <tr>
                        <td>
                            {{ product.comment|default:'<Комментарий не введен>'}}
                        </td>
                        <td><b style="color: #43b05c">{{ product.add_income }}</b> BYN</td>
                        <td>({{ product.source }})</td>
                        <td>({{ product.time_input }})</td>
                        <td>
                            <a href="del_income?id={{ product.id }}"><img alt="удалить" src="{% static 'Homepage/remove.png' %}" style="height: 20px"></a>
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td style="text-decoration: overline"><b>Итого</b></td>
                        <td style="text-decoration: overline"><b style="color: #43b05c">{{ total_for_category }}</b> BYN</td>
                    </tr>
            {% else %}
{#------------ЕСЛИ РАСХОДЫЫЫ------------------#}
                {% for product in products %}
                    <tr>
                        <td>
                            {{ product.comments|default:'<Комментарий не введен>'}}
                        </td>
                        <td><b style="color: #43b05c">{{ product.add_money }}</b> BYN
                            {% if edit_id != product.id %}
                            <a href="history?id={{ product.id }}"> <img alt="ред." src="{% static 'Homepage/edit.png' %}" style="height: 15px"> </a>
                            {% else %}
                            <a href="history"> <img alt="ред." src="{% static 'Homepage/edit.png' %}" style="height: 15px"> </a>
{#                            {% if edit_id == product.id %}#}
                                <div id="categories">
                                    <form action="edit_spending" method="post">
                                        <input type="hidden" name="id" value="{{ product.id }}">
                                        <input type="number" step="0.01" min="1" name="new_spending" id="new_spending" placeholder="" style="width: 50px; height: 20px;">
                                        <button type="submit" style="font-size: 15px;">ОК</button>
                                    </form>
                                </div>
                            {% endif %}
                        </td>
                        <td>({{ product.category }})</td>
                        <td>({{ product.time_input }})</td>
                        <td>
                            <a style="text-decoration: none; color: red " href="del_spending?id={{ product.id }}"><img alt="удалить" src="{% static 'Homepage/remove.png' %}" style="height: 20px"></a>
                        </td>
                    </tr>
                {% endfor %}
                {% for product in sort_categories %}
                    <tr>
                        <td>
                            {{ product.comments|default:'<Комментарий не введен>'}}
                        </td>
                        <td><b style="color: #43b05c">{{ product.add_money }}</b> BYN
                        {% if edit_id != product.id %}
                            <a href="history?id={{ product.id }}"> <img alt="ред." src="{% static 'Homepage/edit.png' %}" style="height: 15px"> </a>
                            {% else %}
                            <a href="history"> <img alt="ред." src="{% static 'Homepage/edit.png' %}" style="height: 15px"> </a>
{#                            {% if edit_id == product.id %}#}
                                <div id="categories">
                                    <form action="edit_spending" method="post">
                                        <input type="hidden" name="id" value="{{ product.id }}">
                                        <input type="number" step="0.01" min="1" name="new_spending" id="new_spending" placeholder="" style="width: 50px; height: 20px;">
                                        <button type="submit" style="font-size: 15px;">ОК</button>
                                    </form>
                                </div>
                            {% endif %}
                        </td>
                        <td>({{ product.category }})</td>
                        <td>({{ product.time_input }})</td>
                        <td>
                            <a href="del_spending?id={{ product.id }}"><img alt="удалить" src="{% static 'Homepage/remove.png' %}" style="height: 20px"></a>
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td style="text-decoration: overline"><b>Итого</b></td>
                        <td style="text-decoration: overline"><b style="color: #43b05c">{{ total_for_category }}</b> BYN</td>
                    </tr>
            {% endif %}
    </table>
{% endblock %}
