{% extends "Homepage/index.html" %}
{% block body %}
    {% load static %}
    <script src="{% static "/js/history_script.js" %}"></script>
    <!--    ЕСЛИ ДОХОДЫ-->
    <h2>
    {% if income %}
        История доходов <a href="history">
    {% else %}
        История расходов <a href="history?action=show_income">
    {% endif %}
        <img alt="о"src="{% static 'Homepage/exchange.png' %}"style="height: 20px"></a></h2>
        <div class="sort">
            {% if income %}
            <a style="text-decoration: none" href="history?action=show_income">Все категории | </a>
            {% else %}
            <a style="text-decoration: none" href="history">Все категории | </a>
            {% endif %}
                {% for category in categories %}
                    {% if income %}
                    <a href="history?condition=sorted&action=show_income&category={{ category }}" style="text-decoration: none">{{ category }} | </a>
                    {% else %}
                    <a href="history?condition=sorted&category={{ category }}" style="text-decoration: none">{{ category }} | </a>
                    {% endif %}
                {% endfor %}
        </div>
    {#------------Начало Таблицы------------------#}
    <table style="width: 60%">
        <tr>
            <th><u>Наименование товара/услуги</u></th>
            <th><u>Стоимость</u></th>
            <th><u>Категория</u></th>
            <th><u>Дата внесения</u></th>
            <th></th>
        </tr>

        {% for product in products %}

        <tr>
            <td>
                {{ product.comments|default:'<Комментарий не введен>' }}
            </td>
            <td>
                <b style="color: #43b05c">{{ product.add_money }}</b> BYN
                {% if edit_id != product.id %}
                    <a href="history?id={{ product.id }}"> <img alt="ред." src="{% static 'Homepage/edit.png' %}"
                                                                style="height: 15px"> </a>
                {% else %}
                    <a href="history"> <img alt="ред." src="{% static 'Homepage/edit.png' %}" style="height: 15px"></a>
                    <div id="categories">
                        <form action="edit_spending" method="post">
                            <input type="hidden" name="id" value="{{ product.id }}">
                            <input type="number" step="0.01" min="1" name="new_spending" id="new_spending"
                                   placeholder="" style="width: 50px; height: 20px;">
                            <button type="submit" style="font-size: 15px;">ОК</button>
                        </form>
                    </div>
                {% endif %}
            </td>
            <td>({{ product.category }})</td>
            <td>({{ product.time_input }})</td>
            <td>
                <a style="text-decoration: none; color: red " href="del_spending?id={{ product.id }}"><img
                        alt="удалить" src="{% static 'Homepage/remove.png' %}" style="height: 20px"></a>
            </td>
        </tr>
        {% endfor %}
{#        {% for product in sort_categories %}#}
{#            <tr>#}
{#                <td>#}
{#                    {{ product.comments|default:'<Комментарий не введен>' }}#}
{#                </td>#}
{#                <td><b style="color: #43b05c">{{ product.add_money }}</b> BYN#}
{#                    {% if edit_id != product.id %}#}
{#                        <a href="history?id={{ product.id }}"> <img alt="ред." src="{% static 'Homepage/edit.png' %}"#}
{#                                                                    style="height: 15px"> </a>#}
{#                    {% else %}#}
{#                        <a href="history"> <img alt="ред." src="{% static 'Homepage/edit.png' %}" style="height: 15px">#}
{#                        </a>#}
{#                        <div id="categories">#}
{#                            <form action="edit_spending" method="post">#}
{#                                <input type="hidden" name="id" value="{{ product.id }}">#}
{#                                <input type="number" step="0.01" min="1" name="new_spending" id="new_spending"#}
{#                                       placeholder="" style="width: 50px; height: 20px;">#}
{#                                <button type="submit" style="font-size: 15px;">ОК</button>#}
{#                            </form>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                </td>#}
{#                <td>({{ product.category }})</td>#}
{#                <td>({{ product.time_input }})</td>#}
{#                <td>#}
{#                    <a href="del_spending?id={{ product.id }}"><img alt="удалить"#}
{#                                                                    src="{% static 'Homepage/remove.png' %}"#}
{#                                                                    style="height: 20px"></a>#}
{#                </td>#}
{#            </tr>#}
{#        {% endfor %}#}
        <tr>
            <td style="text-decoration: overline"><b>Итого</b></td>
            <td style="text-decoration: overline"><b style="color: #43b05c">{{ total_for_category }}</b> BYN</td>
        </tr>
        {#            {% endif %}#}
    </table>
{% endblock %}
