{% extends "Homepage/index.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="../../static/css/homepage.css">
    <div class="mx-auto">
        <div class="current_month mx-auto">
        1 Июля - 31 июля
        </div>
        <form action="add_money" method="POST">
            <input type="number" step="0.01" min="1" id="add_money" name="add_money" placeholder="Введите сумму" required><br>
            <input type="text" id="comments" name="comments" placeholder="Комментарий"><br>
            <select name="category">
                {% for category in categories %}
                <option>{{ category }}</option>
                {% endfor %}
                <option disabled selected>Выберите категорию</option>
            </select>
            <button type="button" class="submit-button">+</button><br>
            <button type="submit" id="add_category_button">Submit</button>
        </form>
        <img src="{{ image.avatar.url }}">
{#        <form action="randomiser" method="POST">#}
{#            <button type="submit" id="add_money_button">done</button>#}
{#        </form>#}
{#        <p>#}
{#            {{ Hello }}#}
{#        </p>#}
{#        <p>#}
{#            {% trans 'Здарова отец' %}#}
{#        </p>#}
    </div>
{% endblock %}
