{% extends "Homepage/index.html" %}
{% block header %}
    <h1><font size="80"><center>Главная страница</center></font></h1>
{% endblock %}
{% block content1 %}
    <center>Самые популярные </center>
{% endblock %}
{% block content2 %}
    <h2><center>
        <button id="task_ajax">Кнопка для проверки</button>

    </center></h2>
{% endblock %}
{% block content3 %}
    <center>Здесь будет ссылка на форум</center>
{% endblock %}
{% block footer %}
    <center>Подведение итогов</center>
{% endblock %}