<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/Log_in.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
{#    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">#}
{#    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>#}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/task_ajax.js"></script>

<!------ Include the above in your HEAD tag ---------->
</head>
<body class="text-center">
    <main class="form-signin size-form">
      <form action="register" method="POST">
        <img class="mb-4" src="../../static/Homepage/door-open.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Регистрация на сайте</h1>
        <div class="form-floating form-margin">
          <input type="text" id="username" name="username" class="form-control" placeholder="Пользователь">
          <label for="username">Пользователь</label>
        </div>
        <div class="form-floating form-margin">
          <input type="email" class="form-control" name="email" id="floatingEmail" placeholder="Email">
          <label for="floatingEmail">Email</label>
        </div>
        <div class="form-floating form-margin">
          <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
          <label for="password">Пароль</label>
        </div>
        <div class="form-floating form-margin">
          <input type="password" class="form-control" name="confirm_password" id="floatingPassword" placeholder="Password">
          <label for="password">Подтвердите пароль</label>
        </div>
          {% if error %}
              <p style="color: red">Ваши пароли не совпадают</p>
          {% endif %}
          {% if uniq_error %}
              <p style="color: red">Такой юзер или электронная почта уже существует</p>
          {% endif %}
        <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
        Если у вас уже есть аккаунт, то
        <button formaction="/login" class="w-100 btn btn-lg btn-primary">Войти в аккаунт</button>
        <p class="mt-5 mb-3 text-muted">© 2021</p>
      </form>
    </main>
</body>
</html>