{% extends "Homepage/index.html" %}
{% load static %}
{% block body %}
    <img src="{{ photo.avatar.url }}" style="width: 60px;"><br>
    Логин пользователя - <b>{{ User_info.username }}</b><br>
    Имя пользователя - <b>{{ User_info.first_name |default:'< Нет информации >'}}</b>
    {% if first_name_edit != True  %}
    <a href="user_account?first_name=edik"> <img alt="ред." src="{% static 'Homepage/edit.png' %}" style="height: 15px"> </a>
    <br>
    {% else %}
        <a href="user_account"> <img alt="ред." src="{% static 'Homepage/edit.png' %}" style="height: 15px"> </a>
        <form action="edit_account?first_name=new" method="post">
            <input type="text" name="new_first_name" placeholder="Введите новое имя">
            <button type="submit">Изменить</button>
        </form>
    {% endif %}
    Фамилия пользователя - <b>{{ User_info.last_name |default:'< Нет информации >' }}</b>
    {% if last_name_edit != True  %}
    <a href="user_account?last_name=edit"> <img alt="ред." src="{% static 'Homepage/edit.png' %}" style="height: 15px"> </a>
    <br>
    {% else %}
        <a href="user_account"> <img alt="ред." src="{% static 'Homepage/edit.png' %}" style="height: 15px"> </a>
        <form action="edit_account?last_name=new" method="post">
            <input type="text" name="new_last_name" placeholder="Введите новую фамилию">
            <button type="submit">Изменить</button>
        </form>
    {% endif %}
    Электронная почта - <b>{{ User_info.email }}</b><br>
    Дата регистрации - <b>{{ User_info.date_joined }}</b><br>
    <form action="set_day" method="post">
    <label>Установить начало месяца -</label>
    <input type="number" name="set_day" id="set_day" min="1" max="31">
    <button type="submit">ОК</button>
    </form>
{#    Загрузить аватар - <br>#}
{% endblock %}
