.WM_logo {
    width: 30px;
    margin-right: 10px;
}

.current_month{
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 50%;
    height: 50px;
    background-color: #43b05c;
    border-radius: 5px;
    color: white;
}

.footer-bottom{
    position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
    background-color:#f8f9fa
}


#add_category_button{
    background-color: #43b05c;
    border-radius: 5px;
    color: white;
}

#new_category_input{
    display: none;
    margin-bottom: 1px;
}

.submit_button{
    background-color: white;
    border-style: none;
}

#plus_button{
    background-color: #43b05c;
    border-radius: 5px;
    color: white;
    border: 0 none black;
    margin: 10px 0;
}